/* p, a{
    width:50%;
    margin: 20px;
    padding: 30px;
    border: 2px solid #000;
    display: block;
} */

/* positoning */
/* p{
    padding:20px;
    background: #eee;
    line-height: 1.4em;
} */

.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}

/* .box{
    height: 100px;
    width: 100px;
    margin: 100px;
}
.blue {
    background: blue;
    float:right;
}
.red {
    background:red;
    float: right;
}
.green {
    background:green;
    float: right;
} */

.service h2,
p {
    color: #999;
    margin: 10px;
    text-align: center;
}

.service {
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 100px;
}

.services:after {
    content: "";
    clear: both;
    display: block;
}

.container {
    background: #eee;
    clear: left;
    margin: 20px 1%;
    padding: 10px;

}

.container p {
    column-count:3;
    -webkit-column-count: 3;
    column-gap: 50px;
    -webkit-column-gap: 50px;
    column-rule: 1px solid #111;
    -webkit-column-rule: 1px solid #111;
    text-align: justify;
}

.container h2,
.container p {
    padding: 5px;
}

section,
aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2; 
}

.columns::after {
    content: "";
    clear: both;
    display: block;
}